#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  margin: 20px;
  padding: 20px;
  border: 2px solid #9da1fa;
  border-radius: 10px;
  background: linear-gradient(135deg, #000000, #012070);
  font-size: 1.5em;
  font-weight: bold;
  color: #c5c5c5;
  animation: fadeIn 1s ease-in-out,rotateIn 1s ease-in-out;;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(100, 108, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  background: linear-gradient(135deg ,#ffffff, #c3f8fd);
  color: #012070;
  padding: 10px 20px;
  border-radius: 10px;
}

.logo {
  border-radius: 50%;
}